.features-list {
  list-style: none;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--bg-color-light);
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    @media screen and (max-width:767px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .features-list {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: column;
      width: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    &__item {
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    &__item {
      width: calc((100% - 90px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
