:root {
    --primary-color: #212121;
    --accent-color: #2196f3;
    --main-color: #757575;
    --color-on-dark-bg: #ffffff;
    --bg-color-dark: #2f303a;
    --bg-color-light: #f5f4fa;
    --color-social-links: #afb1b8;
    --main-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
  }